@import "tailwindcss";

:root {
  --background-color-light: #f4f1ef;

  --font-color-primary: #5d2800; /* メインフォント色 */
  --font-color-secondary: #ab7f5d; /* セカンダリフォント色 */

  --gradient-primary-to-secondary: linear-gradient(
    90deg,
    #5d2800 0%,
    #ab7f5d 30.21%,
    #5d2800 100%
  );
}

body {
  background: var(--background-color-light);
  color: var(--foreground);
  font-family: "BIZ UDPGothic", sans-serif, Helvetica;
}
