.container {
  position: relative;
  width: 100%;
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;

  .image {
    height: 42vw;
    width: 34vw;
    border-radius: 30px;
    object-fit: cover;
  }
  .filter {
    height: 42vw;
    width: 34vw;
    border-radius: 30px;
    background-color: var(--background-color-light);
    position: absolute;
    transform-origin: right;
  }

  .vLine {
    height: 450px;
    width: 1px;
    background-color: var(--font-color-primary);
    transform-origin: top;
  }

  .rightContainer {
    width: 28vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 50px;

    .titleContainer {
      .about {
        color: var(--font-color-primary);
        font-weight: 700;
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 10px;
      }
      .about::before {
        content: "";
        display: inline-block;
        margin-top: 3px;
        width: 6px;
        height: 6px;
        border-radius: 20px;
        background-color: var(--font-color-primary);
      }

      .title {
        display: flex;
        align-items: end;
        gap: 10px;
        font-weight: 700;
        .main {
          font-size: clamp(3rem, 8vw, 4.4rem);
          letter-spacing: -2px;
          background: var(--gradient-primary-to-secondary);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: inline-block;
        }
        .sub {
          font-size: clamp(0.8rem, 4vw, 2.6rem);
          color: var(--font-color-primary);
          letter-spacing: 0.12em;
          margin-bottom: 6px;
          white-space: nowrap;
        }
      }

      .subTitle {
        color: var(--font-color-secondary);
        font-weight: 700;
        font-size: clamp(0.8rem, 2vw, 1rem);
        margin-top: -8px;
        margin-left: 2px;
      }
    }

    .hLine {
      width: 60px;
      height: 1px;
      background-color: var(--font-color-primary);
      transform-origin: left;
    }

    .details {
      font-weight: 700;
      line-height: 250%;
      letter-spacing: 0.16em;
      font-size: clamp(0.8rem, 2vw, 1.2rem);
      color: var(--font-color-primary);
      word-break: break-word; /* 単語の途中で改行を許可 */
      overflow-wrap: break-word;
    }
  }

  .treeRightImage {
    position: absolute;
    right: 0;
    top: -130px;
    z-index: -2;
    width: 54vw;
  }

  .treeLeftImage {
    position: absolute;
    left: 0;
    z-index: -2;
    bottom: -400px;
    width: 34vw;
  }
}

// スマホ用対応
@media (max-width: 1024px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 30px;

    .image {
      height: 40vw;
      width: 72vw;
    }
    .filter {
      height: 40vw;
      width: 72vw;
    }

    .vLine {
      height: 0px;
      width: 0px;
    }
    .rightContainer {
      width: 56vw;
      gap: 30px;
    }

    .treeRightImage {
      position: absolute;
      right: 0;
      top: -88px;
      z-index: -2;
      width: 64vw;
    }

    .treeLeftImage {
      position: absolute;
      left: 0;
      z-index: -2;
      bottom: -200px;
      width: 40vw;
    }
  }
}
